.logincontainer {
    border: 1px solid red;
    box-shadow: 10px, 10px, 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;

	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    padding: 50px;
    background-color: lightgrey
}

.item{
   padding: 6px;
   
}
