.navbar {
  border: black 2px solid;
  width: 15.5%;
  min-height: 100vh;
  margin-top: 0;
}
.navbar button {
  margin: 10px;
  width: 60%;
  font-size: x-large;
  background-color: bisque;
}

.parent-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
}
.settings-btn {
  margin-top: 260%;
}
a {
  text-decoration: none;
}
