.navbar {
  border: black 2px solid;
  width: 15%;
}
.navbar button {
  margin: 10px;
}
.usericon {
  width: 50px;
}
.parent-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.settings-btn {
  margin-top: 200%;
}
