.new-bug-page {
  display: flex;
  height: 100%;
}

.new-bug-page .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FAF9F6;
  border-radius: 4px;
}

.new-bug-page form {
  padding: 20px;
  width: 100%;
}

.new-bug-page p {
  margin: 1rem;
}

.new-bug-page form input {
  width: 40%;
}

.new-bug-input-1,
.new-bug-input-2{
  border: 1px solid lightgray;
}

.new-bug-input-1:focus,
.new-bug-input-2:focus{
  outline: none;
}

.new-bug-textarea{
  border: 1px solid lightgray;
}

.new-bug-textarea:focus{
  outline: none;
}

.new-bug-page form textarea {
  width: 80%;
  margin-bottom: 2rem;
}

.new-bug-page form input,
.new-bug-page form textarea {
  padding: 5px;
}

.form-submit {
  display: flex;
}

.form-submit-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(min-width: 700px){
  .new-bug-page{
    justify-content: center;
    align-items: center;

    min-height: 100vh;
  }
  .new-bug-page .form-container {
    box-shadow: 0 0 5px 1px gray;
    max-width: 600px;
    max-height: 700px;
  }
}